// Display size 
$hld: 1920/100; //Hyper Large Devices, Wide Screens
$sld: 1600/100; //Super Large Devices, Wide Screens
$ld: 1280/100; //Large Devices, Wide Screens
$md: 1024/100; //Medium Devices, Desktop
$sd: 767/100; //Small Devices, Tablets
$ssd: 600/100; //Super Small Devices, Tablets
$esd: 480/100; // ExtraSmall Devices, Phones
$custom: 320/100; //Custom, IPhone Retina

//Fonts

$f-text: 'robotoRegular';
$f-description : 'Montserrat-Regular';
$f-overTitle : 'KaushanScript';
$f-title : 'Montserrat-Bold';

//====== colors

$white: #fff;
$c-description: #333333;
$c-text: #999999;
$background-pics: #95E1D3;

